body{
    height: 100vh;
    width: 100%;
    background-color: rgb(170, 255, 11);
}

.psw-container {
    height: 180px;
    width: 800px;
    background-color: rgb(124, 10, 124);
    border: 10px solid rgb(124, 10, 124);
    color: greenyellow;
    margin: auto;
    text-align: center;
    margin-top: 200px;
    border: 5px dotted greenyellow;
    animation: glow 1s infinite ;
    transition:0.5s;
}

@keyframes glow {
    0%{
        box-shadow: 5px 5px 20px rgb(124, 10, 124),-5px -5px 20px rgb(124, 10, 124);
    }
        
    25%{
        box-shadow: 5px 5px 20px rgb(14, 33, 138),-5px -5px 20px rgb(14, 33, 138);
        }
    50%{
        box-shadow: 5px 5px 20px rgb(121, 214, 15),-5px -5px 20px rgb(121, 214, 15);
        } 
    75%{
         box-shadow: 5px 5px 20px rgb(14, 33, 138),-5px -5px 20px rgb(14, 33, 138);
        }            
    100%{
        box-shadow: 5px 5px 20px rgb(124, 10, 124),-5px -5px 20px rgb(124, 10, 124);
        }
    
}

p {
    font-size: 12px;
}